<!DOCTYPE html>
<html>
  <head>
    <title>Flash Memo - Memorize anything you need</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= favicon_link_tag 'favicon.ico' %>
    
    <%= javascript_pack_tag 'client-bundle' %>
    
    <meta name="description" content="Flash Memo can help you improve your vocabulary, ace exams, enhance your study skills and achieve even more.">
  </head>

  <body class="dark:bg-neutral-800 bg-white">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
