<!DOCTYPE html>
<html>
  <head>
    <title>Flash Memo - Memorize anything you need</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= favicon_link_tag 'favicon.ico' %>
    
    <%= javascript_pack_tag 'client-bundle' %>
    <%= stylesheet_pack_tag 'client-bundle' %>
  </head>

  <body class="dark:bg-neutral-800 bg-white">
    <main class="container mx-auto">
      <%= react_component("Header", props: {isUserSignedIn: user_signed_in?}, prerender: true) %>
      <%= yield %>
    </main>
  </body>
</html>
